
body {
  font-family: sans-serif;
}

.container {
  max-width: 575px;
}

.row {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.border-radius10 {
  border-radius: 10px;
  border: 1px solid grey;
}

.column-width95 {
  width: 95%;
}

.column-width90 {
  width: 90%;
  position: relative;
}

.column-width80 {
  width: 80%;
}

.column-width60 {
  width: 60%;
  position: relative;
}

.column-width60 p {
  padding-top: 7px;
}

.column-width50 {
  width: 50%;
}

.column-width40 {
  width: 40%;
}

.column-width20 {
  width: 20%;
}

.colum-width5 {
  width: 5%;
}

.image-links-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 960px;
  }

  li {
    margin-bottom: 40px;
  }

  h2 {
    margin-top: 0;
  }

  .column-half {
    width: 50%;
    margin: 0  5%;
  }

  .column-width90 {
    width: 45%;
  }

  .column-half img {
    height: 290px;
    width: 100%;
  }

  .flex-column {
    flex-direction: row;
  }
}
